#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;

  --start-button-img-hover:url("/src/assets/img/startHover.svg") center/cover;

  --disable-button-img:url("/src/assets/img/buttonDisable.svg") center/cover;
  --normal-button-img:url("/src/assets/img/trueButton.svg") center/cover;
  --false-button-img:url("/src/assets/img/falseButton.svg") center/cover;
  --true-button-img:url("/src/assets/img/trueButtonHover.svg") center/cover;

  --hover-button-img:url("/src/assets/img/trueButtonHoverHover.svg") center/cover;

  --image-container:url("/src/assets/img/imageContainer.svg");
  --timer-container:url("/src/assets/img/timerContainer.svg");

}


body { 
  -ms-user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none; 
  user-select: none; 
}

body{
  background-image: url(/src/assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color:white
}


div.start-game {
  display: grid; 
  row-gap: 2%;
  column-gap: 10%;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: auto auto auto auto; /* Allow rows to adjust based on content */
  grid-template-areas: 
    'discription timer' 
    'image timer' 
    'image buttons'
    'image buttons';
}

@media (max-width: 600px) {
  div.start-game {
    grid-template-columns: 1fr; /* Stack items on smaller screens */
    grid-template-rows: auto auto auto auto; /* Allow rows to adjust based on content */
    grid-template-areas: 
      'discription' 
      'timer' 
      'image' 
      'buttons'; /* Stack items vertically */
  }
  .buttons [role="group"]{

    justify-content: center;
  }
  
  .buttons [role="group"] button{
    min-width: fit-content;
    box-shadow: none;
    padding: 2vw;
    margin: 1vw;
  }

  
}



.description{
  text-align: left;
  grid-area: discription;
}

.image-container{
  grid-area: image;
}

.timer-container{
  height: fit-content;
  grid-area: timer;
}

.buttons{
  height: 100%;
  grid-area: buttons;
}

/**/


.not-active-full-screen img{
  max-width: 100%;
}

/*start button*/
.icon-button:hover .button-icon {
  opacity: 0; /* Плавно скрываем исходное изображение */
}

.icon-button {
  position: relative;
  /* Добавляем второе изображение через псевдоэлемент */
  &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--start-button-img-hover);
      opacity: 0;
      transition: opacity 0.3s;
  }
}

.icon-button:hover::after {
  opacity: 1; /* Показываем второе изображение */
}



.background-icon{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Для устройств с мышью/стилусом */
@media (hover: hover) and (pointer: fine) {
  .background-icon:hover {
    background: var(--hover-button-img);
  }
}




.normal-button{
  background: var(--normal-button-img);
}

.true-button{
  background: var(--true-button-img);
}

.false-button{
  background: var(--false-button-img);
}

.disable-button{
  background: var(--disable-button-img);
}


.buttons{
  display: flex;
  flex-direction: column;
}
.question-container{
  width: fit-content;
  color:white;

  padding: 10px;
}

.image-container{
  width: 100%;
  height: 100%;
}

.main-image{
  position: relative;
  padding: 6%;

  background: var(--image-container);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  aspect-ratio: 16/9; 
}
.image-wrapper{
  transition: opacity 0.3s;
  position: relative;
}
.image{
  transition: opacity 0.3s ease-in;
}

.timer-container-small{
  width: fit-content;
  padding: 25px;
  font-size: medium;
}

.timer-container-big{
  width: fit-content;
  padding: 4vw;
}


.timer-container{
  color:black;


  background: var(--timer-container);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.control-part{
  width: fit-content !important;
}

.fullscreen-button{
  width: fit-content;
  position: absolute !important;

  border: 2px solid rgba(0, 104, 232, 0.5) !important;
}


.result-score{
font-style: normal;
font-weight: 700;
font-size: 5rem;
line-height: 123px;
text-align: center;
color: #00B1FF;
}